<% var texts = {
	en: [ "Waiting", "Pending", "Accepted", "Refused", "Success", "Failure", "Canceled"],
	fr: ["En attente", "En cours", "Accepté", "Refusé", "Succès", "Échec", "Annulée"],
	ar: ["انتظار", "قيد الانتظار", "قبول", "رفض", "نجاح", "فشل", "ملغاة"]
}; %>
<% var classes = [ "light border-grey", "info", "primary", "warning", "success", "danger", "dark"];%>
<%
	function groupBy(items, key) {
		return items.reduce(
			(result, item) => ({
			...result,
			[item[key]]: [
				...(result[item[key]] || []),
				item,
			],
			}), 
			{},
		)
	}
%>
<% var d; %>
<% d = groupBy(deliveries, 'status'); %>
<% Object.keys(d).forEach(key => { %> <% if (d[key] && d[key].length) { %><span class="badge badge-<%= classes[key] %>">(<%= d[key].length %>) <%= texts[lang][key] %></span><% } %><% });%>