<% if (lang == 'en') { %>
<h5 class="col-md-7 m-auto">In order to join us, please follow these steps:</h5>
<% } else if (lang == 'fr') { %>
<h5 class="col-md-7 m-auto">Pour nous rejoindre, veuillez suivre ces étapes :</h5>
<% } else  { %>
<h4 class="col-md-7 m-auto">للإنضمام إلينا ، يرجى اتباع الخطوات التالية :</h4>
<% } %>
<div class="text-<% if (lang == 'ar') { %>right<% } else { %>left<% } %> my-4">
<% if (lang == 'en') { %>
	<h5 class="col-md-6 m-auto">1. Contact us through our email (<a href="mailto:tounsiwassim403@gmail.com">tounsiwassim403@gmail.com</a>) or phone (<a href="tel:0664004500">0664004500</a>).</h5>
	<h5 class="col-md-6 m-auto">2. Our team will provide you with a unique secret code for you to access our service.</h5>
	<h5 class="col-md-6 m-auto">3. Once you receive the secret code, click the button below, enter your information and set up your account.</h5>
<% } else if (lang == 'fr') { %>
	<h5 class="col-md-6 m-auto">1. Contactez-nous via notre e-mail (<a href="mailto:tounsiwassim403@gmail.com">tounsiwassim403@gmail.com</a>) ou téléphone (<a href="tel:0664004500">0664004500</a>).</h5>
	<h5 class="col-md-6 m-auto">2. Notre équipe vous fournira un code secret unique pour vous permettre d'accéder à notre service.</h5>
	<h5 class="col-md-6 m-auto">3. Une fois que vous avez reçu le code secret, cliquez sur le bouton ci-dessous, entrez vos informations et configurez votre compte.</h5>
<% } else  { %>
	<h4 class="col-md-6 m-auto">1. اتصل بنا من خلال البريد الإلكتروني (<a href="mailto:tounsiwassim403@gmail.com">tounsiwassim403@gmail.com</a>) أو الهاتف (<a href="tel:0664004500">0664004500</a>).</h4>
	<h4 class="col-md-6 m-auto">2. سيوفر لك فريقنا رمزًا سريًا خاصًّا بك للولوج إلى خدمتنا.</h4>
	<h4 class="col-md-6 m-auto">3. بمجرد استلامك للرمز السري، انقر على الزر أدناه، أدخل معلوماتك وقم بإعداد حسابك.</h4>
<% } %>
</div>