<section class="bg-success">
    <div class="container">
        <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-success navbar-offcanvas">
            <a class="navbar-brand mx-auto" href="#"><img src="/img/banner.png" class="banner-img"></a>
            <button class="navbar-toggler d-block" type="button" id="navToggle">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse offcanvas-collapse bg-success">
                <ul class="navbar-nav mr-auto mt-3 col-12">
                    <a class="btn btn-success btn-block my-2" id="navbar-home-btn" href="/"><span class="home_text"></span></a>
                    <% if(locals.name) {%>
                    <a class="btn btn-success btn-block my-2 profile_text" href="/profile"></a>
                    <% } %>
                    <% if (locals.name && type == 0) {%>
                    <a class="btn btn-success btn-block my-2 buy_text" href="/buy"></a>
                    <a class="btn btn-success btn-block my-2 deliver_text" href="/deliver"></a>
                    <a class="btn btn-success btn-block my-2 long_distance_text" href="/longdistance"></a>
                    <% } else if (locals.name && type == 1) { %>
                    <a class="btn btn-success btn-block my-2 deliver_text" href="/partnerdeliver"></a>
                    <a class="btn btn-success btn-block my-2 long_distance_text" href="/longdistance"></a>
                    <% } %>
                    <a class="btn btn-success btn-block my-2 about_text" href="/about"></a>
                    <% if(locals.name) {%>
                    <div class="row m-auto">
                        <button class="btn btn-success my-2" type="button" data-toggle="collapse" data-target="#lang-collapse" aria-expanded="false" aria-controls="lang-collapse">
                            <%= lang.toUpperCase() %> <i class="fa fa-globe" aria-hidden="true"></i>
                        </button>
                        <a class="btn btn-success my-2 logout_text" href="/logout"></a>
                    </div>
                    <% } else { %>
                    <a class="btn btn btn-success btn-block my-2 login_text" href="/login"></a>
                    <a class="btn btn btn-success btn-block my-2 register_text" id="nav-reg-btn" href="/register"></a>
                    <button class="btn btn-success btn-block my-2" type="button" data-toggle="collapse" data-target="#lang-collapse" aria-expanded="false" aria-controls="lang-collapse">
                        <%= lang.toUpperCase() %> <i class="fa fa-globe" aria-hidden="true"></i>
                    </button>
                    <% } %>
                    <div class="collapse m-auto pb-7" id="lang-collapse">
                        <a class="btn btn-success btn-block" id="lang-link-en" href="/en">English</a>
                        <a class="btn btn-success btn-block" id="lang-link-fr" href="/fr">Français</a>
                        <a class="btn btn-success btn-block" id="lang-link-ar" href="/ar">العربية</a>
                    </div>
                    <div class="position-sticky bg-success fixed-bottom m-auto"><p class="text-light mb-0" style="opacity: 0.8;">Wesselli © <%= new Date().getFullYear() %></p></div>
                    </div>
                </ul>
            </div>
        </nav>
    </div>
</section>
<br>
<section id="content">