@font-face {
	font-family: 'Arabic';
	font-style: normal;
	src: url(arabic.woff2) format('woff2');
}

*:not(i, .fa) {
	font-family: 'Arabic', normal !important;
}

.btn, .btn>span, input, textarea, .dropdown-item, select, label, tr, .invalid-feedback {
	font-size: 1.2rem !important;
}

p, span:not(.navbar-toggler-icon, .fa), h6, a, #datepicker, .hr-sect {
	font-size: 1.6rem !important;
}

.fa:not(.fa-2x, .fa-globe, .fa-crosshairs) {
	font-size: 1.3rem !important;
}

.fa-globe {
	font-size: .9rem !important;
}

h3 {
	font-size: 2.5rem !important;
}

h2, h2>span {
	font-size: 3rem !important;
}

h1>span {
	font-size: 4rem !important;
}

.badge {
	font-size: 1.2rem !important;
}

.fa-crosshairs {
	font-size: 1.2rem !important;
}

h5 {
	font-size: 1.8rem !important;
}