@font-face {
	font-family: 'Arabic';
	font-style: normal;
	src: url(arabic.woff2) format('woff2');
}

*:not(i) {
	font-family: 'Arabic', normal !important;
}

.btn, .btn>span, input, textarea, select, label, tr {
	font-size: 1.2rem !important;
}

p, span:not(.navbar-toggler-icon), h6, a, #datepicker {
	font-size: 1.6rem !important;
}

.fa:not(.fa-2x, .fa-globe) {
	font-size: 1.3rem !important;
}

.fa-globe {
	font-size: .9rem !important;
}

h3 {
	font-size: 2.5rem !important;
}

h2, h2>span {
	font-size: 3rem !important;
}

h1>span {
	font-size: 4rem !important;
}

.badge {
	font-size: 1.2rem !important;
}